$main-color: rgb(179, 27, 27);  // Theme color.
$disabled-color: #666;  // Grayed-out color.
$exception-color: #ccc;  // Highlight color for "different" rows.
$max-width: 40rem;  // Width of the content.
$sidebar-width: 15rem;
$small-width: 450px;  // "Small devices" are smaller than this.
$tiny-width: 400px;  // Really tiny devices are smaller than this.
$main-font: "Source Sans Pro", Verdana, Tahoma, Geneva, sans-serif;
$display-font: "Source Code Pro", "Anonymous Pro", Inconsolata, Consolas,
    Courier, monospace;
$display-font-size: 120%;
$line-height: 150%;

// Laying out figures.
$figure-width: 20rem;
$figure-gap: 1rem;


// Layout.
body {
  margin: 0;
}

header {
  width: 100%;
  nav {
    padding: 0.5rem 0.5rem;
    display: block;
    margin: 0 1rem 0;
    max-width: $max-width;

    p, h1 {
      margin: 0;
      padding: 0.5rem 0;
      display: inline-block;
    }
    p {
      margin-left: 0.5rem;
    }

    // Compact layout on small screens.
    @media (max-width: $small-width) {
      padding: 0 0.5rem;
    }
  }
}

#content {
  // In rows on large screens.
  @media (min-width: $small-width) {
    display: flex;
    flex-direction: row;
  }

  margin: 0 1rem;
  padding: 0 0.5rem;

  main {
    max-width: $max-width;
  }

  .ephemera {
    // Hide title links.
    h2 a {
      text-decoration: none;
      color: inherit;
    }

    @media (min-width: $small-width) {
      margin-left: 2rem;
      max-width: $sidebar-width;

      h2 {
        margin: 0 0 0.5rem 0;
      }
    }

    section {
      margin: 0 0 1.5rem 0;
      ul {
        margin: 0;
      }
    }
  }
}


// Fonts.
body {
  font-family: $main-font;
  line-height: $line-height;
}

a {
  color: $main-color;
}

// Headings.
h1, h2, h3, h4, h5, h6 {
  font-family: $display-font;
  line-height: $line-height;
}
// Top two levels of headings are the same size.
h1, h2 {
  font-size: $display-font-size;
}
// Non-top headings leave a gap.
h1 {
  margin-top: 0;
}
h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
}
// Other headings are smaller.
h3, h4, h5, h6 {
  font-size: 100%;
  margin: 0;
}


// More style.
ul {
  list-style-type: square;
}
ul, ol {
  padding-left: 1.3rem;
}


// Header links.
header {
  color: $main-color;
  font-family: $display-font;
  font-size: $display-font-size;
  a {
    color: inherit;
    text-decoration: none;
  }
  h1 {
    font-size: inherit;
    font-weight: bold;
  }
}


// Footer links.
footer {
  text-align: center;
  margin: 1rem;
  color: $disabled-color;
  font-size: 80%;
  a {
    color: inherit;
    text-decoration: none;
  }
}


// Figures.
figure {
  img {
    width: 100%;
    display: block;
    margin: 0 auto 0.5rem;
  }

  figcaption {
    font-size: 70%;
    line-height: 120%;
    padding: 0 0.5em;
  }

  // On larger screens, lay out in the margin.
  float: right;
  margin: 0 0 0 $figure-gap;
  width: $figure-width;
  margin-right: -($figure-width + $figure-gap);

  // Lay out inside the column on smaller screens.
  @media (max-width: $max-width + $figure-width + $figure-gap + 2rem) and
         (min-width: $small-width + 1) {
    margin: $figure-gap 0 $figure-gap $figure-gap;
    float: right;
  }
  @media (max-width: $small-width) {
    float: none;
    margin: $figure-gap 0;
    width: 100%;
  }
}

// Inline, full-width images.
img.large {
  width: 130%;
  display: block;
  margin: 0 auto 1rem;

  // By default, we exceed the column width. As the screen gets smaller, fill
  // *only* the column width.
  @media (max-width: $max-width + $figure-width + $figure-gap + 2rem) {
    width: 100%;
  }
}

// Floating, inset images.
.flair {
  display: block;
  margin: 0 0 $figure-gap $figure-gap;
  float: right;

  // On really tiny screens, just inline the image.
  @media (max-width: $tiny-width) {
    float: none;
    margin: $figure-gap auto;
  }
}

// Code.
pre {
  background: #eee;
  padding: 0.5em 1em;
  overflow-x: auto;
}

// Research project listings.
.project {
  h3 {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    margin-top: 0.25rem;
  }
}

// News.
.news {
  h2 {
    a.feed {
      img {
        width: 16px;
        height: 16px;
        margin-top: 2px;

        // Move the icon down a bit to align with the baseline.
        position: relative;
        top: 2px;
      }
    }
  }

  article {
    margin: 0.5rem 0;

    time, .author {
      font-family: $display-font;
      font-size: 80%;
      color: $disabled-color;
    }

    p {
      margin: 0;
    }

    // Links to blog posts.
    p.post {
      font-size: 120%;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Adorning some links with icons.
@mixin adorn($icon) {
  &::before {
    content: "";
    display: inline-block;

    background: bottom url("/img/octicons/" + $icon + ".svg") no-repeat;
    width: 18px;
    height: 18px;

    margin-right: 3px;
    margin-bottom: -3px;
  }
}

// Links to paper stuff.
.links {
  list-style: none;
  padding: 0;
}
a.pdf {
  @include adorn("file-text");
}
a.github {
  @include adorn("mark-github");
}

// Columns for lists of people.
$colsep: 0.8rem;
.people {
  display: flex;
  flex-wrap: wrap;
  line-height: 100%;

  margin-left: -$colsep;
  margin-right: -$colsep;

  .category {
    max-width: 14rem;
    padding: 0 $colsep;
    margin-bottom: 1rem;

    h3 {
      margin: 0;
    }

    ul {
      margin: 0;
      list-style: none;
      padding-left: 0;

      li {
        margin: 0.8ex 0;
      }
    }
  }

  .note {
    display: inline-block;
    color: #ccc;
    font-size: 80%;
  }
}

// Responsive video embed.
// http://amobil.se/2011/11/responsive-embeds/
.embed {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.embed iframe,
.embed object,
.embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
