$main-color: rgb(179, 27, 27);  // Theme color.
$disabled-color: #666;  // Grayed-out color.
$exception-color: #ccc;  // Highlight color for "different" rows.
$max-width: 40rem;  // Width of the content.
$sidebar-width: 15rem;
$small-width: 450px;  // "Small devices" are smaller than this.
$tiny-width: 400px;  // Really tiny devices are smaller than this.
$main-font: "Source Sans Pro", Verdana, Tahoma, Geneva, sans-serif;
$display-font: "Source Code Pro", "Anonymous Pro", Inconsolata, Consolas,
    Courier, monospace;
$display-font-size: 120%;
$line-height: 150%;

// Laying out figures.
$figure-width: 20rem;
$figure-gap: 1rem;


// Layout.
body {
  margin: 0;
}

body>header {
  width: 100%;
  nav {
    padding: 0.5rem 0.5rem;
    display: block;
    margin: 0 1rem 0;
    max-width: $max-width;

    p, h1 {
      margin: 0;
      padding: 0.5rem 0;
      display: inline-block;
    }
    p {
      margin-left: 0.5rem;
    }

    // Compact layout on small screens.
    @media (max-width: $small-width) {
      padding: 0 0.5rem;
    }
  }

  // Header links.
  font-family: $display-font;
  font-size: $display-font-size;
  a {
    color: $main-color;
    text-decoration: none;
  }
  h1 {
    font-size: inherit;
    font-weight: bold;
  }
}

#content {
  // In rows on large screens.
  @media (min-width: $small-width) {
    display: flex;
    flex-direction: row;
  }

  margin: 0 1rem;
  padding: 0 0.5rem;

  main {
    max-width: $max-width;
  }

  .ephemera {
    // Hide title links.
    h2 a {
      text-decoration: none;
      color: inherit;
    }

    @media (min-width: $small-width) {
      margin-left: 2rem;
      max-width: $sidebar-width;

      h2 {
        margin: 0 0 0.5rem 0;
      }
    }

    section {
      margin: 0 0 1.5rem 0;
      ul {
        margin: 0;
      }
    }
  }
}


// Fonts.
body {
  font-family: $main-font;
  line-height: $line-height;
}

a {
  color: $main-color;
}

// Headings.
h1, h2, h3, h4, h5, h6 {
  font-family: $display-font;
  line-height: $line-height;
}
// Top two levels of headings are the same size.
h1, h2 {
  font-size: $display-font-size;
}
// Non-top headings leave a gap.
h1 {
  margin-top: 0;
}
h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
}
// Other headings are smaller.
h3, h4, h5, h6 {
  font-size: 100%;
  margin: 0;
}

// More style.
ul {
  list-style-type: square;
}
ul, ol {
  padding-left: 1.3rem;
}

// Style guide stuff.

// "Index"/table of contents.
main>nav {
  margin: 1rem 0 1.5rem;
}

// Entry.
article {
  border-top: 2px dashed $main-color;
  margin-top: 1rem;
  padding-top: 0.2rem;

  header {
    // The header contains an anchor link with the entry's slug.
    a {
      text-decoration: none;
      color: lighten(desaturate($main-color, 20.0), 30.0);
      &:hover {
        text-decoration: underline;
      }
    }

    // Entry title.
    h2 {
      margin: 0;
    }
  }

  p {
    margin: 0.5rem 0;
  }
}
