<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ config.extra.title }}</title>
        <link rel="stylesheet" href="{{get_url(path="style.css", trailing_slash=false)}}">
    </head>
    <body>
        <header>
            <nav>
                <h1>
                    <a href="/">Capra</a>
                    Style Guide
                </h1>
            </nav>
        </header>
        <div id="content">
            <main>
                {% block content %}

                {{ section.content | safe }}

                <nav>
                    {% for page in section.pages -%}
                    <a href="#{{page.slug}}">{{page.slug}}</a>
                    {%- endfor %}
                </nav>

                {% for page in section.pages -%}
                <article id="{{ page.slug }}">
                    <header>
                        <a href="#{{page.slug}}">#{{ page.slug }}</a>
                        <h2>{{ page.title }}</h2>
                    </header>
                    {{ page.content | safe }}
                </article>
                {%- endfor %}
                {% endblock content %}
            </main>
        </div>
    </body>
</html>
